/* pages/receive/receive.wxss */
.BOX {
  background: #fff;
  width: 96%;
  margin: 20rpx auto;
  border-radius: 20rpx;
  padding: 20rpx 0;

  .nameBox {
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20rpx;
    .name {
      width: 480rpx;
    }
  }

  .van-stepper__minus {
    background: var(--themeColor);

    color: #fff;
  }

  .van-stepper__minus--hover {
    background: rgb(255, 160, 160) !important;
    color: #fff;
  }

  .van-stepper__plus {
    background: var(--themeColor);
    color: #fff;
  }
  .van-stepper__plus--hover {
    background: rgb(255, 160, 160) !important;
    color: #fff;
  }

  .van-stepper__input--disabled {
    color: var(--inputColor);
  }

  .group {
    border-bottom: 1px solid rgb(246, 246, 246);
    width: 90%;
    min-height: 220px;
    margin: 0 auto;
    .van-radio {
      margin: 0 auto;
      height: 66rpx;
      background: rgb(255, 255, 255) !important;
    }
  }
  .imageBox {
    background: #fff;
    padding: 0 50rpx 20rpx;
  }
}
.itemBox {
  width: 550rpx;
  margin: 20rpx auto;
  .item {
    width: 550rpx;
    height: 200rpx;
    background: rgb(247, 247, 247);
    margin: 0rpx 20rpx 20rpx;
    border-radius: 20rpx;
    display: flex;
    align-items: center;

    .img {
      width: 120rpx;
      height: 120rpx;
      margin-right: 20rpx;
      border-radius: 10rpx;
      margin-left: 20rpx;
    }

    .info {
      .titleBox {
        .title {
          width: 250rpx;

          font-weight: bold;
          font-size: 34rpx;
        }

        .status {
          color: #e95555;
        }
      }

      .text {
        height: 50rpx;
        width: 320rpx;
        font-size: 26rpx;
        line-height: 50rpx;
        color: rgb(116, 116, 116);
      }
    }
  }
}
